<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSLocationUsageDescription</key>
	<string>需要使用定位服务来生成地点信息</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册来生成回忆信息</string>
</dict>
</plist>
